<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" />

    <link href="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" rel="preload" as="script" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js" rel="preload" as="script" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-java.min.js" rel="preload" as="script" />
    <link href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" rel="preload" as="script" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{ $title := print .Title " · " .Site.Title }}
    <title>{{ $title }}</title>

    {{ if .Param "sitemapExclude" }}
    <meta name="robots" content="none" /> 
    {{ end }}

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ else if .Params.subtitle }}
    <meta name="description" content="{{ .Params.subtitle }}">
    {{ else if .Summary }}
    <meta name="description" content="{{ .Summary }}">
    {{ end }}
    {{ if .Keywords }}
      <meta name="keywords" content="{{ delimit .Keywords "," }}">
    {{ end }}
    
    <meta name="author" content="Ronald Dehuysser, ronald@dehuysser.be">

    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}

    <!-- scss by Ronald-->
    {{ $stylesCustom := resources.Get "scss/custom.scss"  | postCSS  | toCSS | minify | fingerprint }}
    {{ $stylesScreen := resources.Get "scss/screen.scss"  | postCSS  | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $stylesCustom.Permalink }}" integrity="{{ $stylesCustom.Data.Integrity }}" media="screen">
    <link rel="stylesheet" href="{{ $stylesScreen.Permalink }}" integrity="{{ $stylesScreen.Data.Integrity }}" media="screen">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css"></noscript>
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-coy.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-coy.min.css"></noscript>
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"></noscript>
    <link rel="stylesheet" href="/pagefind/pagefind-ui.css">
</head>
<body class="{{ block "body_class" . }} {{ end }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MX5H2KM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
      <!-- End Google Tag Manager (noscript) -->
    <div class="site-wrapper">
        {{- block "main" . }}{{- end }}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright" style="align-self: start;">
                  &copy; <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                </section>
                <section class="love" style="align-self: start; opacity: 0.7;">
                  Made with <strong style="color: red; font-size: large;">&hearts;</strong> in Belgium
                </section>
                <nav class="site-footer-nav">
                  <div>
                    <div><a href="/en/about/" rel="noopener" style="opacity: 0.5;">JobRunr by Rosoco BV (BE 0807596165)</a></div>
                    <div><a href="/en/licensing/info/" rel="noopener" style="opacity: 0.5;">Terms of use</a></div>
                    <div><a href="/en/privacy/" rel="noopener" style="opacity: 0.5;">Privacy</a></div>
                  </div>
                </nav>
            </div>
        </footer>
    </div>

    <dialog id="search-modal">
      <div class="dialog__container">
        <section class="dialog__content">
          <div id="pagefind-search"></div>
        </section>
        <footer class="dialog__footer">
          <button class="btn" onclick="closeDialog('#search-modal')">Close</button>
        </footer>
      </div>
    </dialog>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-java.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" defer></script>
    <script src="/pagefind/pagefind-ui.js"></script>  
    <script src='{{ (resources.Get "js/codetabs.js").Permalink }}'></script>
    <script src='{{ (resources.Get "js/framework.js").Permalink }}'></script>
    <script>
      const openDialogAsModal = (dialogId) => {
        document.querySelector(dialogId).showModal();
      }
      const closeDialog = (dialogId) => {
        document.querySelector(dialogId).close();
      }
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#pagefind-search", showImages: false, showSubResults: true, openFilters: ['Type'] });

        document.querySelector("#search-modal").addEventListener('click', ({target: dialog}) => dialog.nodeName === 'DIALOG' && dialog.close('dismiss'));
      });
  </script>
<script>
window.addEventListener("load", (event) => {
  setTimeout(() => {
    // cookieconsent can be blocked in which case this crashes.
    window.cookieconsent?.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "transparent",
          "border": "#fff",
          "text": "#fff"
        }
      },
      "content": {
        "link": "Learn more about cookies"
      }
    });
  }, 5000);
});

var links = document.querySelectorAll('a');
for (var i = 0; i < links.length; i++) {
  if (links[i].hostname != window.location.hostname) {
    links[i].target = '_blank';
    links[i].rel = 'noopener';
  }
}
</script>

{{ if eq $.Site.Params.enableWebinarPopup true }}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <div class="popup-container webinar">
    <div class="popup">
      <button id="close">&times;</button>
      <a href="/en/webinar-v7">
        <img src="/2024-03-22-jobrunr-webinar.webp" alt="Join our webinar on April 9!"  />
      </a>
    </div>
  </div>

  <script type="text/javascript">
    window.addEventListener("load", (event) => {
        const webinarDate = new Date("2024-04-31T00:00:00.000Z");
        const timesShown = parseInt(Cookies.get('jobrunr-webinar')) || 0;
        const webinarShownToday = Cookies.get('jobrunr-webinar-shown-today') || false;
        if(!webinarShownToday && timesShown <= 5) {
          setTimeout(
            function open(event){
                document.querySelector(".popup-container").style.display = "block";
                Cookies.set('jobrunr-webinar', (timesShown + 1), { expires: webinarDate })
                Cookies.set('jobrunr-webinar-shown-today', true, { expires: 1 })
            },
            100);
        }
    });
    document.querySelector("#close").addEventListener("click", () => {
        document.querySelector(".popup-container").style.display = "none";
    });
  </script>
{{ end }}
{{ if .Site.Params.GtmID }}
{{ partial "analytics-gtag.html" . }}
{{ end }}

<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "gndsmglzod");
</script>
</body>
</html>