{{ define "body_class" }} tag-template  {{ end }}

{{ define "main" }}

<header class="site-header leftnav" style="height: 64px;">
    {{- partial "site-header.html" $ -}}
</header>

<main id="site-main" class="site-main documentation outer">
    <template data-pagefind-filter="type:Documentation"></template>
    <div class="inner">
        {{- partial "leftnav.html" $ -}}
        
        <article class="post-full post no-image no-image">
            <header class="post-full-header">
                {{ if eq .Params.version "pro"}}
                    <span data-pagefind-filter="tag:JobRunr Pro" class="label professional"><span>JobRunr Pro</span></span>
                {{ else if eq .Params.version "enterprise"}}
                    <span data-pagefind-filter="tag:JobRunr Pro" class="label enterprise"><span>JobRunr Pro Enterprise</span></span>
                {{ else }}
                    <template data-pagefind-filter="tag:JobRunr"></template>
                {{ end }}
                {{ with .Params.beta }}
                    <span class="label professional"><span>Beta</span></span>
                {{ end }}

                <h1 style="margin-top: 1rem" class="post-full-title">{{.Title}}</h1>
                {{ if .Param "subtitle" }}
                    <p class="post-full-custom-excerpt"> {{ .Param "subtitle" }}</p>
                {{ end }}
            </header>
            
            <section class="post-full-content" data-pagefind-body>
                {{ .Content }}
            </section>
        </article>
        <!--div class="inner posts">
            <div class="post-feed">
                {{ range $index, $element := .Pages }}
                    {{- partial "post-card.html" (dict "context" . "index" $index "home" $.IsHome) -}}
                {{ end }}
            </div>
        </div-->
    </div>
</main>

{{ end }}