{{ define "body_class" }} tag-template  {{ end }}

{{ define "main" }}

<header class="site-header" style="height: 64px;">
    {{- partial "site-header.html" $ -}}
</header>

<main id="site-main" class="site-main outer">
    <div class="inner posts">
        {{ .Content }}
        <div class="post-feed" style="padding-top: 0;">
            {{ range $index, $element := .Pages }}
                {{ if eq .Section "blog" }}
                    {{- partial "post-card.html" (dict "context" . "index" $index "home" $.IsHome) -}}
                {{ end }}
                {{ if eq .Section "use-case" }}
                    {{- partial "use-case.html" (dict "context" . "index" $index "home" $.IsHome) -}}
                {{ end }}
            {{ end }}
        </div>
    </div>
</main>

{{ end }}