{{ define "body_class" }} tag-template  {{ end }}

{{ define "main" }}

<header class="site-header" style="height: 64px;">
    {{- partial "site-header.html" $ -}}
</header>

<main id="site-main" class="site-main outer">
    <div class="inner posts" style="padding: 1vw 0;">
        {{ .Content }}
        {{ if eq .Section "blog" "use-case" }}
            {{ $partial := "post-card.html" }}
            {{ if eq .Section "use-case"}} {{ $partial = "use-case.html" }} {{ end }}
            <div class="post-feed" style="padding-top: 0;">
                {{ range $index, $element := .Pages }}
                    {{- partial $partial (dict "context" . "index" $index "home" $.IsHome) -}}
                {{ end }}
            </div>
        {{ end }}
        {{ if eq .Section "guides" }}
            <div class="guides">
                {{ range $index, $element := .Pages }}
                    {{- partial "guide-card.html" (dict "context" . "index" $index "home" $.IsHome) -}}
                {{ end }}
            </div>
        {{ end }}        
    </div>
</main>

{{ end }}