a.btn {
    box-shadow: none;
    margin-bottom: 0;
    padding: 9px 15px;
    border: 1px solid #dfe1e3;
    background: #fff!important;
    border-radius: 4px;
    color: #808284;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 1.1rem;
    line-height: 1.428571429;
    transition: color 0.2s ease, background 0.2s ease, border-color 0.2s ease;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    text-decoration: none;
}

a.btn-lg {
    padding: 12px 18px;
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 1.33;
}

a.btn-black {
    border-color: #090a0b!important;
    background: #090a0b!important;
    color: #fff!important;
    font-weight: bold;
}

a.btn-black:hover {
    box-shadow: none!important;
}

div.highlight code {
    font-size: 1.375rem!important;
}

span.label {
    padding: 4px 8px; 
    margin: 0 8px 0 0; 
    border-radius: 5px; 
    background: red;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
}

span.label span {
    background: inherit; 
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent; 
    filter: sepia(5) saturate(100) invert(1) grayscale(1) contrast(9);
}

span.label.professional {
    background: #337ab7;
}

span.label.business {
    background: #5cb85c;
}

span.label.enterprise {
    background: #f0ad4e;
}

#site-main div.inner div.homepage-tabs {
    display: flex;
    margin-right: 1em;
    border-bottom: 1px solid #808284;
}

#site-main div.inner div.homepage-tabs .homepage-tab {
    padding-top: 2em;
    margin-right: 2.8em;
    cursor: pointer;
}

#site-main div.inner div.homepage-tabs .homepage-tab.active {
    border-bottom: 5px solid #808284;
    margin-bottom: -3px;
}

#site-main div.inner div.homepage-tabs .homepage-tab h3 {
    margin-top: 0.3em;
    padding: 0.5em 0.1em 0 0.1em;
    color: var(--darkgrey);
}

.home-template div.homepage-overview h3 {
    font-size: 1.8rem;
}

div.homepage-reason {
    display: flex; 
    margin-bottom: 6em;
}

div.homepage-reason div.content {
    flex: 0 1 45%; 
    margin: 1em 4em 1em 0;
}

div.homepage-reason.image-left div.content {
    flex: 0 1 48%;
}

div.homepage-reason div.content h3 {
    font-size: 2.2em;
}

div.homepage-reason div.image-container {
    flex: 0 1 45%; 
    margin-top: 3em; 
    display: flex; 
    justify-content: center; 
    width: 100%;
}

div.homepage-reason.image-left div.image-container {
    flex: 0 1 48%; 
    margin-right: 4em;
    justify-content: left;
}

div.homepage-reason.image-left div.image-container img,
div.homepage-reason div.image-container img.large-image {
    max-width: 100%; 
}

div.homepage-reason div.image-container img {
    max-width: 100%; 
    border-radius: 5%;
}

@media (max-width: 800px) {
    div.homepage-reason {
      flex-direction: column;
    }

    div.homepage-reason.image-right {
        flex-direction: column-reverse;
    }

    div.homepage-reason div.content {
        margin: 1em 0 2em 0;
    }
  }


a.tooltip {
    display: inline-block !important;
    position: relative;
    text-decoration: none;
    box-shadow: none !important;
}

.tooltip:hover {
    cursor: pointer;
}

.tooltip:hover:after {
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    bottom: -34px;
    color: #fff;
    font-size: small;
    content: attr(data-title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 350px;
}

.tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 0 6px 6px 6px;
    bottom: -4px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.guides {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 12px;
}

.guides-list-description {
    color: var(--midgrey);
    font-family: Georgia, serif;
    font-size: 2.3rem;
    line-height: 1.4em;
    font-weight: 300;
}

@media (max-width: 500px) {
    .guides-list-description {
        font-size: 1.9rem;
        line-height: 1.5em;
    }
}

.guides .guide-card {
    display: flex;
    flex-direction: column; 
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--whitegrey); border-radius: 4px;
    text-decoration: none;
    color: inherit;
}

.guides .guide-card .guide-card-title {
    margin: 0;
}

.guides .guide-card .guide-card-summary {
    p {
        margin: 0;
    }
}

.guides .guide-card .guide-card-footer {
    margin-top: auto;
    display: flex;
    gap: 4px;
    font-size: 14px;
}

.guides .guide-card .guide-card-footer .guide-card-tag {
    background-color: var(--whitegrey);
    padding: 4px 16px;
    border-radius: 16px;
}

@media (max-width: 768px) {
    .guides {
        grid-template-columns: 1fr;
    }
}

.tab-container {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
}

.tab-container .nav-tabs {
    display: flex;
    position: relative;
    gap: 8px;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.tab-container .nav-tabs li {
    margin: 0;
    border: 1px solid var(--whitegrey);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.tab-container .nav-tabs .tab {
    padding: 4px 8px;
}

.tab-container .nav-tabs li:hover,
.tab-container .nav-tabs li:focus,
.tab-container .nav-tabs li.active  {
    background-color: var(--whitegrey);
}

.tab-container .tab-content {
    padding: 12px;
    border: 1px solid var(--whitegrey);
}

.tab-container  .tab-content .tabpanel:not(.active) {
    display: none;
}

.tab-container .tab-content pre {
    margin: 0;
}