a.btn {
    box-shadow: none;
    margin-bottom: 0;
    padding: 9px 15px;
    border: 1px solid #dfe1e3;
    background: #fff!important;
    border-radius: 4px;
    color: #808284;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 1.1rem;
    line-height: 1.428571429;
    transition: color 0.2s ease, background 0.2s ease, border-color 0.2s ease;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    text-decoration: none;
}

a.btn-lg {
    padding: 12px 18px;
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 1.33;
}

a.btn-black {
    border-color: #090a0b!important;
    background: #090a0b!important;
    color: #fff!important;
    font-weight: bold;
}

a.btn-black:hover {
    box-shadow: none!important;
}