<meta charset="utf-8" />

<!-- responsive meta -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=5" />

<!-- theme meta -->
<meta name="theme-name" content="fortify" />

<!-- favicon -->
{{ partialCached "favicon" . }}


<!-- manifest 
{{ partialCached "manifest" . }}
-->

<!-- site verifications -->
{{ partialCached "site-verifications.html" . }}


<!-- opengraph and twitter card -->
{{ partial "basic-seo.html" . }}


<!-- custom script -->
{{ partialCached "custom-script.html" . }}


<!-- google analytics -->
{{ if and site.Config.Services.GoogleAnalytics.ID (ne site.Config.Services.GoogleAnalytics.ID "G-MEASUREMENT_ID") }}
  {{ template "_internal/google_analytics.html" . }}
{{ end }}


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MX5H2KM');</script>
<!-- End Google Tag Manager -->


<!-- Ahref SEO Analytics-->
<script src="https://analytics.ahrefs.com/analytics.js" data-key="FxPiSUnylvcdN5mJWbu2rQ" async></script>

<!-- Cookie Consent -->
<link href="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" rel="preload" as="script" />
<link href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" rel="preload" as="script" />
<link rel="preload" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"></noscript>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" defer></script>
<link href="https://unpkg.com/tabulator-tables@6.3.0/dist/css/tabulator_simple.min.css" rel="stylesheet">

<!-- Future Cookie Consent that will be implemented
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
</script>

  <link rel="stylesheet" id="silktide-consent-manager-css" href="/cookie-banner/silktide-consent-manager.css">
<script src="/cookie-banner/silktide-consent-manager.js"></script>
<script>
silktideCookieBannerManager.updateCookieBannerConfig({
  background: {
    showBackground: true
  },
  cookieIcon: {
    position: "bottomLeft"
  },
  cookieTypes: [
    {
      id: "necessary",
      name: "Necessary",
      description: "<p>These cookies are necessary for the website to function properly and cannot be switched off. They help with things like logging in and setting your privacy preferences.</p>",
      required: true,
      onAccept: function() {
      }
    },
    {
      id: "analytics",
      name: "Analytics",
      description: "<p>These cookies help us improve the site by tracking which pages are most popular and how visitors move around the site.</p>",
      defaultValue: true,
      onAccept: function() {
        gtag('consent', 'update', {
          analytics_storage: 'granted',
        });
        dataLayer.push({
          'event': 'consent_accepted_analytics',
        });
      },
      onReject: function() {
        gtag('consent', 'update', {
          analytics_storage: 'denied',
        });
      }
    },
    {
      id: "advertising",
      name: "Advertising",
      description: "<p>These cookies provide extra features and personalization to improve your experience. They may be set by us or by partners whose services we use.</p>",
      onAccept: function() {
        gtag('consent', 'update', {
          ad_storage: 'granted',
          ad_user_data: 'granted',
          ad_personalization: 'granted',
        });
        dataLayer.push({
          'event': 'consent_accepted_advertising',
        });
      },
      onReject: function() {
        gtag('consent', 'update', {
          ad_storage: 'denied',
          ad_user_data: 'denied',
          ad_personalization: 'denied',
        });
      }
    }
  ],
  text: {
    banner: {
      description: "<p>We use cookies on our site to enhance your user experience, provide personalized content, and analyze our traffic. <a href=\"https://www.jobrunr.io/en/privacy/\" target=\"_blank\">Cookie Policy.</a></p>",
      acceptAllButtonText: "Accept all",
      acceptAllButtonAccessibleLabel: "Accept all cookies",
      rejectNonEssentialButtonText: "Reject non-essential",
      rejectNonEssentialButtonAccessibleLabel: "Reject non-essential",
      preferencesButtonText: "Preferences",
      preferencesButtonAccessibleLabel: "Toggle preferences"
    },
    preferences: {
      title: "Customize your cookie preferences",
      description: "<p>We respect your right to privacy. You can choose not to allow some types of cookies. Your cookie preferences will apply across our website.</p>",
      creditLinkText: " ",
      creditLinkAccessibleLabel: " "
    }
  },
  position: {
    banner: "bottomLeft"
  }
});

</script>
---> 
<!-- search index -->
{{/*  {{ partial "search-index.html" . }}  */}}


<!-- matomo analytics -->
{{/* {{ partialCached "matomo-analytics.html" . }} */}}

<!--  Baidu analytics -->
{{/* {{ partialCached "baidu-analytics.html" . }} */}}

<!-- Plausible Analytics -->
{{/* {{ partialCached "plausible-analytics.html" . }} */}}

<!-- Counter Analytics -->
{{/* {{ partialCached "counter-analytics.html" . }} */}}

<!-- Crisp Chat -->
{{/* {{ partialCached "crisp-chat.html" . }} */}}

<!-- Mermaid -->
{{/*  {{ partial "mermaid/assets/js" . }}  */}}
