<!--Brand Logo -->
{{ with site.GetPage "sections/brand-logo" }}
  {{ with .Params.brand }}
    <section class="section bg-white" data-aos="fade-up-sm" data-aos-delay="200">
      <div class="container">
        <div class="row">
          <h2
            class="text-center font-primary text-text font-medium sm:pb-0 text-lg text-tertiary">
            {{ .title | markdownify }}
          </h2>
          <div class="pt-6">
            <div
              class="flex justify-center gap-x-12 gap-y-6 grayscale opacity-50 max-lg:flex-wrap">
              {{ range .logo }}
                <div class="flex aspect-[3.125/1] w-36 items-center">
                  {{ partial "image" (dict "Src" .image "Alt" "Brand Logo" "Class" "!h-10 object-contain") }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
<!--/Brand Logo -->
