<!-- Feature Comparison Table  -->
<section class="section bg-gray-50" id="comparison-table">
  <div class="container">
    <div class="text-center mb-12">
      <h2 class="h2 mb-4 text-gray-900" data-aos="fade-up-sm">
        Detailed feature comparison
      </h2>
      <p class="text-lg text-gray-600 max-w-3xl mx-auto" data-aos="fade-up-sm" data-aos-delay="100">
        Compare the features across JobRunr Open Source, Pro Business, and Pro Enterprise tiers to choose the right fit for your organization.
      </p>
    </div>

    <div class="overflow-x-auto relative shadow-lg sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 table-fixed">
        <thead class="text-xs uppercase bg-gray-200 border-b border-gray-300">
          <tr>
            <th scope="col" class="py-3 px-6 w-1/3 text-gray-900">Feature</th>
            <th scope="col" class="py-3 px-6 text-center bg-[#FAFAFA] text-gray-900">Open Source (OSS)</th>
            <th scope="col" class="py-3 px-6 text-center bg-black text-white">Pro Business</th>
            <th scope="col" class="py-3 px-6 text-center bg-[#FAFAFA] text-gray-900">Pro Enterprise</th>
          </tr>
        </thead>
        <tbody>

          <tr class="bg-gray-100">
            <td colspan="4" class="py-2 px-6 font-bold text-base text-gray-900 sticky top-0 bg-gray-100">
              Job Execution &amp; Scheduling
            </td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/background-methods/enqueueing-jobs/" | relLangURL }}">Enqueueing &amp; Scheduling Jobs (Fire and Forget)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/background-methods/carbon-aware-jobs/" | relLangURL }}">Carbon Aware Job Scheduling</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/real-time-scheduling/" | relLangURL }}">Realtime Scheduling &amp; Enqueueing (Instant execution)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/background-methods/recurring-jobs/" | relLangURL }}">Max Recurring Jobs</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">~100 (DB dependent)</td>
            <td class="py-4 px-6 text-center bg-black text-white">Up to 5,000</td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">Unlimited</td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/background-methods/dealing-with-exceptions/" | relLangURL }}">Automatic Retry Handling (Exponential Backoff)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/background-methods/recurring-jobs/#recurring-jobs-missed-during-downtime" | relLangURL }}">Schedule Missed Recurring Jobs (After Downtime)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/job-timeout/" | relLangURL }}">Job Timeouts</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/configuration/virtual-threads/" | relLangURL }}">Thread Support (e.g., Project Loom / Virtual Threads)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>

          <tr class="bg-gray-100">
            <td colspan="4" class="py-2 px-6 font-bold text-base text-gray-900 sticky top-0 bg-gray-100">
              Advanced Workflow &amp; Control
            </td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/job-chaining/" | relLangURL }}">Workflow Management (Job Chaining)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/batches/" | relLangURL }}">Batch Processing (Atomic Batches)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/priority-queues/" | relLangURL }}">Priority Queues (Up to 5 Levels)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/dynamic-queues/" | relLangURL }}">Dynamic Queues (Fair Usage Multitenancy)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/rate-limiters/" | relLangURL }}">Rate Limiting</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/mutexes/" | relLangURL }}">Mutexes (Resource Locking)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/server-tags/" | relLangURL }}">Server Tags (Run jobs on specific servers)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/transactions/" | relLangURL }}">Transaction Plugin (Spring, Micronaut, Quarkus)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>

          <tr class="bg-gray-100">
            <td colspan="4" class="py-2 px-6 font-bold text-base text-gray-900 sticky top-0 bg-gray-100">
              Observability &amp; Monitoring
            </td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/jobrunr-pro-dashboard/" | relLangURL }}">Dashboard Features</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">Simple Overview</td>
            <td class="py-4 px-6 bg-black text-white text-center">Enhanced Search, Filters, Labels, Observability Integration (Micrometer)</td>
            <td class="py-4 px-6 bg-[#FAFAFA] text-gray-900 text-center">All Pro Business features + Dashboard SSO, GDPR/HIPAA Redaction</td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/jobrunr-pro-multi-dashboard/" | relLangURL }}">Multicluster Dashboard</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white">❌</td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "guides/advanced/k8s-autoscaling/" | relLangURL }}">K8s Autoscaling Support</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white"><span class="table-check-icon"></span></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>

          <tr class="bg-gray-100">
            <td colspan="4" class="py-2 px-6 font-bold text-base text-gray-900 sticky top-0 bg-gray-100">
              Enterprise Readiness &amp; Support
            </td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "documentation/pro/sso-authentication/" | relLangURL }}">Dashboard Security (SSO / OpenID Connect)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white">❌</td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">Enterprise Hardened Releases</th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">Standard</td>
            <td class="py-4 px-6 text-center bg-black text-white">Standard</td>
            <td class="py-4 px-6 bg-[#FAFAFA] text-gray-900 text-center"><span class="table-check-icon"></span><br />Stress-tested, benchmarked, external security auditing</td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "blog/2023-06-06-jobrunr-pro-panic-button/" | relLangURL }}">Panic Button (Direct notification for critical issues)</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white">❌</td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">1 / Year</td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">Software Bill of Materials (SBOM)</th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white">❌</td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><span class="table-check-icon"></span></td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "licensing/info/" | relLangURL }}">Commercial License</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">LGPL 3.0</td>
            <td class="py-4 px-6 text-center bg-black text-white">Standard EULA</td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">Flexible support for custom procurement processes</td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "start-jobrunr-pro/" | relLangURL }}">Payment</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">❌</td>
            <td class="py-4 px-6 text-center bg-black text-white">Credit Card</td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">Invoice or Credit Card</td>
          </tr>
          <tr class="bg-white border-b border-gray-100">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "understanding-your-license/" | relLangURL }}">Cluster / Installation Limit</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">Single Cluster (Implied)</td>
            <td class="py-4 px-6 text-center bg-black text-white">One PRD Cluster</td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">Unlimited</td>
          </tr>
          <tr class="bg-white">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900">
              <a class="dashed-underline" href="{{ "contact/" | relLangURL }}">Priority Support Escalation</a>
            </th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">Community Support</td>
            <td class="py-4 px-6 text-center bg-black text-white">Email / HelpDesk, Priority Bug Handling</td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900">All Pro Business options + Video Call for Critical Issues</td>
          </tr>
          <tr class="bg-white">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900"></th>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"></td>
            <td class="py-4 px-6 text-center bg-black text-white"><a class="underline" href="{{ "start-jobrunr-pro/" | relLangURL }}">Start using JobRunr Pro now</a></td>
            <td class="py-4 px-6 text-center bg-[#FAFAFA] text-gray-900"><a class="underline" href="{{ "get-jobrunr-pro-enterprise/" | relLangURL }}">Get In Touch</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- /Feature Comparison Table -->
