{{ $image := resources.Get .Destination }}

{{ if $image }}
    <figure>
        <a href="{{ with $image }}{{ $image.Permalink }}{{ end }}">
            <img src="{{ with $image }}{{ $image.Permalink }}{{ end }}" class="kg-image" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}"{{ end }}/>
        </a>
    </figure>
    {{ with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
{{ else }}
<figure>
    <a href="{{ .Destination }}">
        <img src="{{ .Destination }}" class="kg-image" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}"{{ end }}/>
    </a>
    {{ with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
{{ end }}


