{{ $image := resources.Get .Destination }}

{{ if $image }}
    {{ if .Title }}
    <figure>
        <img src="{{ with $image }}{{ $image.Permalink }}{{ end }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}"{{ end }}/>
        {{ with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
    </figure>
    {{ else }}
    <img src="{{ with $image }}{{ $image.Permalink }}{{ end }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}"{{ end }}/>
    {{ end }}
{{ else }}
<img src="{{ .Destination }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}"{{ end }}/>
{{ end }}


