{{ define "body_class" }} home-template {{ end }}

{{ define "main" }}

<header class="site-home-header">
    <style type="text/css">
        .responsive-header-img {
            background-image: url(/publication-cover.webp);
        }
    </style>
    <div class="outer site-header-background responsive-header-img">
        <div class="inner">
            {{- partial "site-nav.html" . -}}
            
            <div class="site-header-content">
                <div class="site-header-description">
                    <div class="site-title">
                        {{ $logo_img := resources.Get "images/jobrunr-logo-white.webp" }}
                        <img class="site-logo" src="{{ $logo_img.Permalink }}" alt="{{ .Site.Title }}" height="80" width="346.320"/>
                    </div>
                    <h1 class="site-description">
                        {{.Content | replaceRE "<p>" "" | replaceRE "</p>" "" | safeHTML }}
                    </h1>
                </div>
                <div class="site-header-images" style="z-index: 99;">
                    {{ $slider_css := resources.Get "scss/my-slider.css" | toCSS | minify | fingerprint }}
                    <link rel="stylesheet" href="{{ $slider_css.Permalink }}">
                    {{ $slider_js := resources.Get "js/ism-2-2.min.js" }}
                    <script src="{{ $slider_js.Permalink }}"></script>
                    <div class="ism-slider" data-radios="false" id="homepage-slider">
                        <div class="ism-frame">
                            <ol style="max-width: initial; width: 600%; perspective: 1000px; backface-visibility: hidden; transform: translateX(0px);" class="ism-slides">
                                {{ range $index,  $element := .Params.gallery }}
                                    <li class="ism-slide ism-slide-{{$index}}">
                                        <div class="ism-img-frame"><div class="ism-img-frame"><img src="{{ index . 0 }}" class="ism-img"></div></div>
                                        {{ if( index . 1 ) }}
                                            <a class="ism-caption ism-caption-0" href="{{ index . 1 }}" target="_blank" rel="noopener" style="visibility: hidden;">{{ index . 2 }}</a>
                                        {{ end }}
                                    </li>
                                {{ end }}
                            </ol>
                            <div class="ism-button ism-button-prev">&nbsp;</div>
                            <div class="ism-button ism-button-next">&nbsp;</div>
                            <div class="ism-button ism-button-prev">&nbsp;</div>
                            <div class="ism-button ism-button-next">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="homepage-tabs">
            <div id="homepage-selector-manager" class="homepage-tab active"><h3>JobRunr for CTO's and managers</h3></div>
            <div id="homepage-selector-developer" class="homepage-tab"><h3>JobRunr for developers and engineers</h3></div>
        </div>
        <div id="homepage-content-manager" class="homepage-content">
            <div class="homepage-reason image-right">
                <div class="content">
                    <h3>20% productivity increase.</h3>
                    <p>A bold claim - we know. Praised by management, these words are not ours:</p>
                    <blockquote style="margin-top: 2.5em;">
                        We have seen a 20% developer productivity increase thanks to JobRunr Pro. As our first line support uses the dashboard to diagnose issues and help our customers, the engineering team can focus on what matters.
                        <br /><span style="float: right;">Peter Davidson - <a href="https://www.tracer.ai/" target="_blank" rel="noopener">Tracer.ai</a></span>
                        <br />
                    </blockquote>
                    <br />
                    <div style="display: flex; justify-content: center;">
                        <a href="/en/pricing" class="btn btn-black btn-lg" style="display: inline-block; height: 45px; margin-right: 1rem;">
                            get JobRunr Pro now
                        </a>
                    </div>
                </div>
                <div class="image-container">
                    <img style="border: 1px solid #ddd;" src="/homepage/homepage-dashboard.png" />
                </div>
            </div>
            <div class="homepage-reason image-left">
                <div class="image-container">
                    <img style="border: 1px solid #838284;" src="/homepage/homepage-JobRunr-thoughtworks.png" />
                </div>
                <div class="content">
                    <br />
                    <h3>Trusted by developers worldwide.</h3>
                    <p>With 12.000 unique downloads per month and over 10 billion processed jobs in less than a year, JobRunr is trusted and loved by developers worldwide.</p>
                    <p>And again, don't take our word for it: ThoughtWorks, a leading global technology consultancy company has put us on their <a href="https://www.thoughtworks.com/radar/languages-and-frameworks?blipid=202210044" target="_blank">Technology Radar</a> with blip 98: </p>
                    <blockquote style="margin-top: 2.5em;">Our teams have enjoyed using JobRunr's built-in dashboard, which is easy to use and allows the monitoring and scheduling of background tasks.</blockquote>
                    <div style="display: flex; justify-content: center; margin-top: 2em;">
                        <a href="https://www.thoughtworks.com/" target="_blank"><span>JobRunr is enjoyed by</span>&nbsp;&nbsp;<img src="/logos/Thoughtworks-logo.webp" alt="ThoughtWorks" height="30px" style="display:inline-block; vertical-align:middle" /></a>
                    </div>
                </div>
            </div>
            <div class="homepage-reason image-right">
                <div class="content">
                    <h3>Scale beyond your dreams.</h3>
                    <p>Easily handle millions of jobs daily without altering your code - JobRunr can easily be added to any software architecture, whether it is a micro-service architecture or a modular monolith.</p>
                    <p>Save costs by scaling up and down depending on the amount of load, either on premise or at your preferred cloud-provider.</p>
                    <br />
                    <div>
                        <div style="display: flex; justify-content: center;">
                            <a href="/en/pricing" class="btn btn-black btn-lg" style="display: inline-block; height: 45px; margin-right: 1rem;">
                                get JobRunr Pro now
                            </a>
                        </div>
                    </div>
                    <div>
                        <div style="margin: 1em 0; display: flex; justify-content: center;">
                            <span style="display: inline-block;">or</span>
                        </div>
                    </div>
                    <div>
                        <div style="margin: 1em 0 0; display: flex; justify-content: center;">
                            <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0CP-3acpsjZmJ6vVBwANXvvqQbSlCjJUatUOGSG_2dH0HFFtqGBz0gKky1Ja8RTAXvzsRuZBrL" target="_blank" rel="noopener">
                                schedule a call to find out more.
                            </a>
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <img src="/homepage/homepage-dreams.jpg" />
                </div>
            </div>
            <div class="homepage-reason image-left">
                <div class="image-container">
                    <img src="/homepage/homepage-clockwork-cropped.png" />
                </div>
                <div class="content">
                    <h3>Runs like a Swiss watch.</h3>
                    <p>Even in the most volatile environment, JobRunr Pro makes sure your business processes run like clockwork.</p>
                    <p>Do not worry anymore about downtime from external services - JobRunr will retry your jobs automatically for you.<br />A job still failed? Find the root cause instantly thanks to the dashboard.</p>
                    <br />
                    <div>
                        <div style="display: flex; justify-content: center;">
                            <a href="/en/pricing" class="btn btn-black btn-lg" style="display: inline-block; height: 45px; margin-right: 1rem;">
                                get JobRunr Pro now
                            </a>
                        </div>
                    </div>
                    <div>
                        <div style="margin: 1em 0; display: flex; justify-content: center;">
                            <span style="display: inline-block;">or</span>
                        </div>
                    </div>
                    <div>
                        <div style="margin: 1em 0 0; display: flex; justify-content: center;">
                            <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0CP-3acpsjZmJ6vVBwANXvvqQbSlCjJUatUOGSG_2dH0HFFtqGBz0gKky1Ja8RTAXvzsRuZBrL" target="_blank" rel="noopener">
                                schedule a call to find out more.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homepage-reason image-right">
                <div class="content">
                    <h3>Loved by your operations team.</h3>
                    <p>JobRunr leverages your existing infrastructure, which can be either a SQL or a NoSQL database.</p>
                    <br />
                    <p>All your engineers have to do, is add an extra library to their project. There are no extra components to manage or install - we promise.</p>
                    <br />
                    <div>
                        <div style="display: flex; justify-content: center;">
                            <a href="/en/pricing" class="btn btn-black btn-lg" style="display: inline-block; height: 45px; margin-right: 1rem;">
                                get JobRunr Pro now
                            </a>
                        </div>
                    </div>
                    <div>
                        <div style="margin: 1em 0; display: flex; justify-content: center;">
                            <span style="display: inline-block;">or</span>
                        </div>
                    </div>
                    <div>
                        <div style="margin: 1em 0; display: flex; justify-content: center;">
                            <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0CP-3acpsjZmJ6vVBwANXvvqQbSlCjJUatUOGSG_2dH0HFFtqGBz0gKky1Ja8RTAXvzsRuZBrL" target="_blank" rel="noopener">
                                schedule a call to find out more.
                            </a>
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <img src="/homepage/homepage-operations.png" />
                </div>
            </div>
            <div class="homepage-reason image-left" style="margin-bottom: 8em;">
                <div class="image-container">
                    <img src="/homepage/homepage-legal.jpg" />
                </div>
                <div class="content">
                    <h3>Don't bother your legal team.</h3>
                    <p>We're not another SaaS company and we don't have access to your data.</p>
                    <p>We just provide the essential tools for your engineering team.</p>
                    <br />
                    <div>
                        <div style="display: flex; justify-content: center;">
                            <a href="/en/pricing" class="btn btn-black btn-lg" style="display: inline-block; height: 45px; margin-right: 1rem;">
                                get JobRunr Pro now
                            </a>
                        </div>
                    </div>
                    <div>
                        <div style="margin: 1em 0; display: flex; justify-content: center;">
                            <span style="display: inline-block;">or</span>
                        </div>
                    </div>
                    <div>
                        <div style="margin: 1em 0; display: flex; justify-content: center;">
                            <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0CP-3acpsjZmJ6vVBwANXvvqQbSlCjJUatUOGSG_2dH0HFFtqGBz0gKky1Ja8RTAXvzsRuZBrL" target="_blank" rel="noopener">
                                schedule a call to find out more.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="homepage-content-developer" class="homepage-content" style="display: none;">
            <p style="margin-top: 2em;">Creating, scheduling and monitoring jobs just became a whole lot easier!</p>
            <div class="homepage-overview">
                {{ range where .Site.Pages.ByWeight "Params.type" "homepage-example" }}
                    <article class="post-card small">
                        <div class="post-card-content">
                            <a class="post-card-content-link" href="{{ .Param "link"}}">
                                <header class="post-card-header">
                                    <h3 class="post-card-title">{{ .Title }}
                                        {{ if isset .Params "badge" }}
                                            <div class="label label-primary">{{ .Param "badge" }}</div>
                                        {{ end }}
                                    </h3>
                                </header>

                                <section class="post-card-excerpt">
                                    {{ .Content }}
                                </section>
                            </a>
                        </div>
                    </article>
                {{ end }}
            </div>

            <div style="text-align: center;">
                <a href="https://github.com/jobrunr/jobrunr" class="btn btn-black btn-lg" target="_blank" rel="noopener" style="display: inline-block; height: 45px; margin-right: 1rem;">
                    <svg viewBox="0 0 16 16" style="margin: -4px 10px 0 0; display: inline-block; vertical-align: text-top; fill: currentColor; width: 25px; height: 25px;" aria-hidden="true"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>
                    <span>{{i18n "star-us"}}</span>
                </a>
                {{ if eq $.Page.Site.Params.enableTrialButton true }}
                    <a href="/en/try-jobrunr-pro/" class="btn btn-black btn-lg" style="display: inline-block; margin: 2rem 0 0 0rem; height: 45px;">
                        <span>Try JobRunr Pro for free!</span>
                    </a>
                {{ end }}
            </div>

            <div class="homepage-logos">
                <div class="logos">
                    <img src="/logos/Amazon-logo.webp" alt="Amazon" height="30px" style="display:inline-block; margin-top: 20px;"/>
                    <img src="/logos/Thoughtworks-logo.webp" alt="ThoughtWorks" height="30px" style="display:inline-block;" />
                    <img src="/logos/JP-Morgan-Chase-logo.webp" alt="JP-Morgan-Chase" height="35px" style="display:inline-block;"/>
                    <img src="/logos/Capgemini-logo.webp" alt="Capgemini" height="30px" style="display:inline-block; margin-top: 10px;"/>
                </div>
            </div>

            <style>
                ol.carousel__viewport {
                    display: flex;
                    align-items: center;
                    /* animation: slideToLeft 10s ease infinite 1s; */
                }
                ol.carousel__viewport li.slide {
                    transition: opacity 3s;
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    opacity: 0;
                    z-index: 1;
                }

                ol.carousel__viewport li.showing {
                    transition: opacity 3s;
                    height: initial;
                    width: 100%;
                    overflow: initial;
                    opacity: 1;
                    z-index: 2;
                }

                section.carousel ol {
                    list-style: none;
                }
                
                div.feedback {
                    flex: 0 1 auto;
                    width: 75%;
                    text-align: right;
                    font-style: italic;
                    margin: auto;
                    padding: 0.35em 40px;
                    line-height: 1.45;
                    position: relative;
                    color: #383838;
                }

                div.feedback::before {
                    display: inline-block;
                    padding-left: 10px;
                    content: "\201C";
                    font-size: 80px;
                    position: absolute;
                    left: -20px;
                    top: -20px;
                    color: #7a7a7a;
                }
                div.feedback span.quote {
                    display: block;
                }
                div.feedback span.quote p {
                    margin-bottom: 0;
                }
                div.feedback span.author {
                    color: rgb(115, 138, 148);
                }
                div.homepage-overview {
                    clear: both;
                }
                .label-primary {
                    background-color: #337ab7;
                }
                .label {
                    display: inline;
                    padding: .2em .6em .3em;
                    font-size: 75%;
                    font-weight: 700;
                    line-height: 1;
                    color: #fff;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    border-radius: .25em;
                }
            </style>
            
            <h2 id="why-jobrunr" style="margin-top: 1.2em;">{{ i18n "why-jobrunr" }}</h2>
            <section class="carousel" aria-label="Gallery">
                <ol class="carousel__viewport">
                {{ range $index, $value := where .Site.Pages.ByWeight "Params.type" "homepage-quote" }}
                <li tabindex="0" class="slide {{ if (eq $index 0) }}showing{{ end }}">
                    <div class="feedback">
                        <span class="quote">{{ .Content }}</span>
                        <span class="author">
                            <a href="{{ .Param "author_url"}}">{{ .Param "author" }}</a>
                            - {{ .Param "author_description" }} 
                            {{ if isset .Params "company" }}
                                at <a target="_blank" href="{{ .Param "company_url"}}">{{ .Param "company" }}</a>
                            {{ end }}
                        </span>
                    </div>
                </li>
                {{ end }}
                </ol>
            </section>

            <script type="text/javascript">
                var slides = document.querySelectorAll('section.carousel li.slide');
                var currentSlide = 0;
                var slideInterval = setInterval(nextSlide,10000);

                function nextSlide() {
                    slides[currentSlide].className = 'slide';
                    currentSlide = (currentSlide+1)%slides.length;
                    slides[currentSlide].className = 'slide showing';
                }
            </script>

            <div class="homepage-overview">
                {{ range where .Site.Pages.ByWeight "Params.type" "homepage-feature" }}
                    <article class="post-card">
                        <div class="post-card-content">
                            <header class="post-card-header">
                                <h3 class="post-card-title">{{ .Title }}</h3>
                            </header>
                            <section class="post-card-excerpt">
                                {{ .Content }}
                            </section>
                        </div>
                    </article>
                {{ end }}
            </div>
        </div>
        
        <div style="display: flex; justify-content: center;">

            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup" style="background: #f5f5f5; padding: 3rem; border: #f5f5f5; border-radius: 10px; margin-bottom: 5rem;">
            <form action="https://jobrunr.us8.list-manage.com/subscribe/post?u=7effa175708f1527e44829f85&amp;id=cfba454701" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                <div id="mc_embed_signup_scroll">
                <h2 style="margin: 0 0 .5em;">Receive updates</h2>
                <p style="margin-bottom: 0">Subscribe to receive email notifications about new features and new releases of JobRunr.</p>
                <p><small>Very low volume off-course!</small></p>
            <div class="mc-field-group">
                <div style="display: flex">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
            </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7effa175708f1527e44829f85_cfba454701" tabindex="-1" value=""></div>
                <div class="clear"></div>
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </div>
</main>

<script type="text/javascript">
    function showManagerTab() {
        document.getElementById('homepage-selector-developer').classList.remove("active");
        document.getElementById('homepage-selector-manager').classList.add("active");
        document.getElementById('homepage-content-developer').style.display = 'none';
        document.getElementById('homepage-content-manager').style.display = 'block';
    }

    function showDeveloperTab() {
        document.getElementById('homepage-selector-manager').classList.remove("active");
        document.getElementById('homepage-selector-developer').classList.add("active");
        document.getElementById('homepage-content-manager').style.display = 'none';
        document.getElementById('homepage-content-developer').style.display = 'block';
    }

    document.getElementById('homepage-selector-manager').addEventListener('click', () => {
        showManagerTab();
        if ('URLSearchParams' in window) {
            const searchParams = new URLSearchParams(window.location.search)
            searchParams.set('tab', 'manager');
            const newRelativePathQuery = window.location.pathname + '?' + searchParams.toString();
            history.pushState(null, '', newRelativePathQuery);
        }
    });
    document.getElementById('homepage-selector-developer').addEventListener('click', () => {
        showDeveloperTab();
        if ('URLSearchParams' in window) {
            const searchParams = new URLSearchParams(window.location.search)
            searchParams.set('tab', 'developer');
            const newRelativePathQuery = window.location.pathname + '?' + searchParams.toString();
            history.pushState(null, '', newRelativePathQuery);
        }
    });

    if ('URLSearchParams' in window) {
        const searchParams = new URLSearchParams(window.location.search)
        if('developer' == searchParams.get("tab")) {
            showDeveloperTab();
        } else if('manager' == searchParams.get("tab")) {
            showDeveloperTab();
        }
    }
</script>

{{ end }}