/* Syntax highlighting styles for Hugo Chroma */

.highlight pre, .codeblock, figure.codeblock {
  @apply m-0;
}

pre {
  @apply px-2 py-1;
  @apply rounded border border-border;
  @apply overflow-x-auto;
}

pre, .highlight pre {
  @apply bg-light;
}

pre code {
  @apply text-primary leading-relaxed;
  @apply bg-transparent;
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  @apply block;
}

:not(pre) > code {
  @apply bg-gray-100 px-1;
  font-family: monospace;
  /* background-color: rgba(175, 184, 193, 0.2); */
}